@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body,h1,h2,h3,h4,h5{ margin: 0;}

:root{
  --background-dark-color:radial-gradient(circle, rgba(54,54,50,1) 53%, rgba(12,11,0,1) 96%);
  --top-navbar-background-color:#000000;
  --bottom-navbar-background-color:#1F232A;
  --white-text-color:#FFFFFF;
  --black-text-color:#000000;
  --light-grey-text-color:rgba(0, 0, 0, 0.7);
  --link-hover-color:#888888;
  --button-light-grey-color:#858E99;
  --button-dark-greay-color:#2E2E2E;
}


