<div class="page-background">
  <div class="container">
    <div class="header">
      <h1>{{animeDetails?.title}}</h1>
      <h2 *ngIf="animeDetails?.alternativeTitle">Alternative title: {{animeDetails?.alternativeTitle}}</h2>
      <div class="rating">

      </div>
    </div>
    <div class="details-section">
      <div class="poster">
        <img src = "{{animeDetails?.posterUrl}}" width="170" height="246">
      </div>
      <div class="description">
        <p>{{animeDetails?.description}}</p>
      </div>
      <div class="button">
        <app-custom-button size="large-button" type="primary"></app-custom-button>
      </div>
    </div>
    <div class="nav">
      <a routerLink="overview" class="nav-link" >Overview</a>
      <a routerLink="characters" class="nav-link">Characters</a>
      <a routerLink="staff" class="nav-link">Staff</a>
      <a routerLink="openings-eddings"  class="nav-link">Openings & Eddings</a>
      <a routerLink="reviews"  class="nav-link">Reviews</a>
      <a routerLink="recommendations"  class="nav-link">Recommendations</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



