<div class="container">
    <div class="wrap">
        <a class="nav-logo" href="#">ANIHUB</a>
        <div class="nav-links">
            <a routerLink="" class="nav-link">SEARCH</a>
            <a routerLink="" class="nav-link">COMMUNITY</a>
            <a routerLink="help"  class="nav-link">HELP</a>
            <a routerLink="" class="nav-link nav-link-SignUp">SIGN UP</a>
            <a routerLink="login" class="nav-link">LOGIN</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>


